@import "tailwindcss";

/* Add Font Example */
@font-face {
  font-family: 'Protokoll';
  src: url('../fonts/Protokoll.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} 

/* Import Custom Colors */
@theme {
  --color-ivory: #F3F0E8;
  --color-cream: #F5ECD8;
  --color-gold: #D4AA7D;
  --color-caramel: #B98857;
  --color-cinnamon: #9E7153;
  --color-rose: #A76571;
  --color-gray: #5E5E5E;
  --color-dark: #2E2927;
  --color-slate:  #2B2E35;
  --color-carbon: #272727;
  --color-mineshaft: #2D2D2D;
  --color-akaroa: #D7C9AE;
  --color-barley: #A78763;
  --color-whiterock: #EAE0D2
}

/* Toggle / default when light mode_)  (may need to use :root)*/
.lightmode {
  --color-mineshaft: #2D2D2D;
  --color-akaroa: #D7C9AE;
  --color-barley: #A78763;
  --color-whiterock: #EAE0D2;
  --color-cream: #F5ECD8;
  --color-gold: #D4AA7D;
}

/* dark mode colors (make opposite colors of light mode (white text,etc) */
/* Change colors to be specific for certain items (ex, text-white) etc */
/* .darkmode {
  --color-mineshaft: #2D2D2D;
  --color-akaroa: #D7C9AE;
  --color-barley: #A78763;
  --color-whiterock: #EAE0D2;
  --color-cream: #F5ECD8;
  --color-gold: #D4AA7D;
} */

@layer utilities {
    .font-protokoll {
        font-family: 'Protokoll', sans-serif;
    }
}

section {
    scroll-snap-align: start;
    /* height: 80rem; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
  color: var(--color-white);
}

.bg-black-sand {
  background-image: url("/dark-sand.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.navbar-main {
  z-index: 1000;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 83rem;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem 1.5rem;
  position: fixed;
  font-size: 1rem;
}

.navbar-background-main {
    z-index: -1;
    /* background-color: ; */
    /* -webkit-backdrop-filter: blur(2rem); */
    backdrop-filter: blur(2rem);
    border-radius: 1.5rem;
    position: absolute;
    inset: 0%;
}

.navbar-background {
  z-index: -1;
  backdrop-filter: blur(2rem);
  border-radius: 1.5rem;
  inset: 0%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.1deg, rgba(45, 45, 45, 0.6) 9.34%, rgba(45, 45, 45, 0.1) 95.96%);
  backdrop-filter: blur(15px);
  position: absolute;
}
 /* Dark Navbar */
/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.1deg, rgba(45, 45, 45, 0.6) 9.34%, rgba(45, 45, 45, 0.1) 95.96%);
  backdrop-filter: blur(15px); */

  /* Gold Navbar */
/* background: linear-gradient(0deg, rgba(234, 186, 140, 0.2), rgba(234, 186, 140, 0.2)), linear-gradient(90.1deg, rgba(215, 201, 174, 0.6) 9.34%, rgba(215, 201, 174, 0.1) 95.96%);
backdrop-filter: blur(15px); */

/* .float-nav_dropdown-toggle */
.navbar-content-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.navbar-content-container::before {
  content: "";
  position: absolute;
  background: white;
  border-radius: 1rem;
  z-index: -1;
  opacity: 0;
  inset: 0.5rem;
  inset: 0rem;
  transform: scale(0.95);
  transition: all 600ms ease;
}

/* .float-nav_menu */
.navbar-menu {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  transition: transform .3s;
  display: flex;
}

.navbar-entry {
    grid-column-gap: .25rem;
    /* color: ; */
    border-radius: 1rem;
    align-items: center;
    padding: .75rem .5rem .75rem .75rem;
    transition: all .35s;
    display: flex;
}

.navbar-chevron {
flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    transition: transform .4s;
    display: flex;
}

/* .float-nav_menu-dropdown */
.navbar-entry-outside {
    align-items: center;
    height: 100%;
    display: flex;
    position: static;
}

.nav-entry-setup {
    grid-column-gap: .25rem;
    color: white;
    border-radius: 1rem;
    align-items: center;
    /* padding: .75rem .5rem .75rem .75rem; */
    transition: all .35s;
    display: flex;
}

.nav-figma {
  box-sizing: border-box;
  position: absolute;
  width: 2695px;
  height: 147px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.1deg, rgba(45, 45, 45, 0.6) 9.34%, rgba(45, 45, 45, 0.1) 95.96%);
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 25px #2D2D2D;
  border-radius: 50px;
}

.hero-picture {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.hero-text {
  align-self: center;
  text-align: center;
}



/* F5ECD8
   EDE2D0
 */
/*

Scroll snap implementatoin ( by section)

html {
    scroll-snap-type: y mandatory;
}
section {
     scroll-snap-align: start;
 } 
*/
