@import "tailwindcss";


/* Add Font Example */
@font-face {
  font-family: 'Protokoll';
  src: url('/fonts/Protokoll.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} 

/* Import Custom Colors */
@theme {
  --color-ivory: #F3F0E8;
  --color-cream: #F5ECD8;
  --color-gold: #D4AA7D;
  --color-caramel: #B98857;
  --color-cinnamon: #9E7153;
  --color-rose: #A76571;
  --color-gray: #5E5E5E;
  --color-dark: #2E2927;
  --color-slate:  #2B2E35;
  --color-carbon: #272727;
  --color-mineshaft: #2D2D2D;
  --color-akaroa: #D7C9AE;
  --color-barley: #A78763;
  --color-whiterock: #EAE0D2;


/* Opposite to background (light gradient (gold) applies to dark mode screen) */
  --color-dark-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23)), linear-gradient(90.1deg, rgba(45, 45, 45, 0.6) 9.34%, rgba(45, 45, 45, 0.70) 95.96%);
  --color-light-gradient: linear-gradient(0deg, rgba(234, 186, 140, 0.3), rgba(234, 186, 140, 0.3)), linear-gradient(165.99deg, rgba(215, 201, 174, 0.6) 9.89%, rgba(215, 201, 174, 0.1) 89.94%);

 /* Intermediate (on top of sand) background layers / gradients */
 /* More light version of the gradient, use if make secret white sand page */
  /* --color-light-gradient: linear-gradient(98.78deg, #D7C9AE 7.48%, #716A5B 92.38%); */
  --color-gold-gradient: linear-gradient(98.78deg, #A58763 7.48%, #716A5B 92.38%);
  --color-mineshaft-gradient: linear-gradient(98.78deg, #2D2D2D 7.48%, #444444 92.38%);
}

/* Scrollbar hidden in elements utlity classes */
@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@theme {
  /* --breakpoint-ex: 30rem; */
  /* --breakpoint-nav: 850px; */
  --breakpoint-nav: 1020px;
}

@layer utilities {
    .font-protokoll {
        font-family: 'Protokoll', sans-serif;
    }
}

section {
    scroll-snap-align: start;
    /* height: 80rem; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sets text default to white, need to change so each has to set */
body {
  color: var(--color-white);
}

/* To Do Light / Dark Switch
in data theme 1:
  --color-item-being-covered: var(--color-actual-from-@theme-1 )

in data ttheme 2:
  --color-item-being-covered: var(--color-actual-from-@theme-2)

^^ effects in actual component

background: var(--color-item-being-covered);
^^ will flip based on light tor dark being selected in data theme ( 1 or 2)
*/

[data-theme="dark"] {
  --navbar-gradient: var(--color-light-gradient);
  --navbar-dropdown-gradient: var(--color-light-gradient);
  --bg-image: url("/backgrounds/dark-sand.svg");
  --logo-fill-color: var(--color-black);
  --secondary-logo-fill-color: var(--color-mineshaft);
  --primary-button-color: var(--color-barley);
  --primary-button-text-color: var(--color-mineshaft);
  --secondary-button-color: var(--color-whiterock);
  --secondary-button-color: var(--color-mineshaft);
  --primary-text-color: var(--color-whiterock);
  --secondary-text-color: var(--color-barley);
  
  --primary-alt-text-color: var(--color-mineshaft);
  --secondary-alt-text-color: #1A1A1A;
  --tertiary-alt-text-color: var(--color-mineshaft);

  --border-color: var(--color-whiterock);

  --gradient-bg: var(--color-gold-gradient);

   --input-bg: var(--color-ivory);

  /* increase text size to reduce minimizing effect of dark text */
   text-shadow: 0 0 0.5px currentColor; /* subtle halo = thicker appearance */

}

[data-theme="light"] {
  /* Need to be backwords ( navbar opposite of page bg) */
  --navbar-gradient: var(--color-dark-gradient); 
  --navbar-dropdown-gradient: var(--color-dark-gradient);

  --bg-image: url("/backgrounds/light-sand.svg");
  --logo-fill-color: var(--color-whiterock);
  --secondary-logo-fill-color: var(--color-barley);
  --primary-button-color: var(--color-mineshaft);
  --primary-button-text-color: var(--color-whiterock);
  --secondary-button-color: var(--color-barley);
  --secondary-button-text-color: var(--color-mineshaft);
  --primary-text-color: black; 
  --secondary-text-color: var(--color-mineshaft);

  --primary-alt-text-color: var(--color-whiterock);
  --secondary-alt-text-color: var(--color-barley);
  --tertiary-alt-text-color: var(--color-barley);

  --border-color: var(--color-akaroa);

  --gradient-bg: var(--color-mineshaft-gradient);

   --input-bg: var(--color-whiterock);
}


.bg-sand {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

/* @media (max-width: 380px) {
  .bg-sand {
    background-size: full full; 
    background-position: center;  
  }
} */

.navbar-main {
  z-index: 1000;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 83rem;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem 1.5rem;
  position: fixed;
  font-size: 1rem;
}

.navbar-background-main {
  z-index: -1;
  backdrop-filter: blur(2rem);
  border-radius: 1.5rem;
  position: absolute;
  inset: 0%;
}

.navbar-background {
  z-index: -1;
  backdrop-filter: blur(2rem);
  border-radius: 1.5rem;
  inset: 0%;
  background: var(--navbar-gradient);
  position: absolute;
}

.navbar-content-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

/* What is this doing? */
.navbar-content-container::before {
  content: "";
  position: absolute;
  background: white;
  border-radius: 1rem;
  z-index: -1;
  opacity: 0;
  inset: 0.5rem;
  inset: 0rem;
  transform: scale(0.95);
  transition: all 600ms ease;
}

.navbar-entry-outside {
    align-items: center;
    height: 100%;
    display: flex;
    position: static;
}

.nav-entry-setup {
    grid-column-gap: .25rem;
    color: white;
    border-radius: 1rem;
    align-items: center;
    transition: all .35s;
    display: flex;
}

.navbar-menu {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  transition: transform .3s;
  /* display: flex; */
}

.navbar-entry {
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  padding: .75rem .5rem .75rem .75rem;
  display: flex;
  float: left;
  overflow: hidden;
    /* color: var(--primary-alt-text-color); */

}

.navbar-entry:hover {
  background: var(--navbar-gradient);
  cursor: pointer;
}

.navbar-github-logo {
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  /* padding: .5rem .5rem .5rem .1rem; */
  padding: 0 .5rem 0 .5rem;
}

.navbar-linkedin-logo {
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  /* padding: .5rem .5rem .5rem .5rem; */
  padding: 0 .5rem 0 .5rem;
}

.navbar-hamburger-icon {
  color: var(--logo-fill-color);
  cursor: pointer;
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  padding: .5rem .5rem .3rem .75rem;
}

.navbar-chevron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  transition: transform .4s;
  display: flex;
}

/* On navbar entry hover, only navbar-chevron flips */
.navbar-entry:hover .navbar-chevron {
  transform: rotate(180deg);
}

/* Navbar Dropdown handling */

/* NAME IS MISLEADING/ Actually acts as the hidden bridge between navbar entry and dropdown */
.navbar-dropdown-container {
  background-color: transparent;
  float: none;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 3.75rem;
  height: 1.1rem;
  max-width: 83rem;
  opacity: 0;
  visibility: hidden;
}

.navbar-dropdown-content {
  background: var(--navbar-dropdown-gradient);
  backdrop-filter: blur(2rem);
  float: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: left;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 1.1rem;
  height: 22rem;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 83rem;
  /* padding: .75rem 1.5rem; */
  padding: 1.5rem;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(-8px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--primary-alt-text-color);
} 

/* Dropdown show / hide hover handling */
/* Show dropdown & bridge when entry, bridge, or dropdown is hovered */
.navbar-entry:hover .navbar-dropdown-content,
.navbar-entry:hover .navbar-dropdown-container,
.navbar-entry:hover .mini-navbar-dropdown-content,
.navbar-dropdown-container:hover,
.navbar-dropdown-content:hover,
.mini-navbar-dropdown-convent:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Dropdown-specific extra transform for open animation */
.navbar-entry:hover .navbar-dropdown-content,
.navbar-dropdown-content:hover {
  transform: translateY(0);
}

.dropdown-title {
  font-size: 1.5rem;
}

/* Projects Dropdown Handling */

.dropdown-projects-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* Left side menu projects dropdown */

.dropdown-menu {
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
}

.dropdown-menu-entry {
  font-size: 1.1rem;
  border-radius: 0.7rem;
  padding: 0.75rem;
  padding-left: 0.7rem;
  cursor: pointer;
}

.dropdown-menu-entry:hover {
  background: var(--navbar-gradient);
}

/* Outer Grid to contain lists (columns) */
.dropdown-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex: 1;
  gap: 2rem;
  grid-auto-columns: 1fr;
}
/* ADD TO HTML! */

/* Inner lists (column) of ^^ */
.dropdown-list {
  display: grid;
  gap: 1rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  /* color: var(--logo-fill-color) */
}

.dropdown-list-header {
  border-bottom: 2px solid;
  /* border-color: var(--navbar-gradient); */
  /* color: var(--navbar-gradient); */
  margin-left: .75rem;
  margin-right: .75rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-alt-text-color);
}
/* No entries( uses dropdown menu entries instead) */

/* List Social Media Logos: */

/* .dropdown-list-logo {
  padding-right: 0.5rem;
} */

.dropdown-menu-logo-entry {
  font-size: 1.1rem;
  border-radius: 0.7rem;
  /* padding: 0.3rem;  Set manually for each logo in tailwind (logo sizes differ)*/
  padding-left: 0.1rem;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.dropdown-menu-logo-entry:hover {
  background: var(--navbar-gradient);
} 

.dropdown-about-section {
  width: 100%;
}

.dropdown-about-display {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height : 100%;
  width: 100%;
  /* justify-content: flex-start; */
}

.dropdown-about-display-entry {
 position: relative;
 border-radius: 1rem;
 /* height: 100%; */
 height: 10.5rem;
 width: 100%;
 /* margin-left: auto;
 margin-right: auto; */
 overflow: hidden;
 background: var(--color-mineshaft);
} 

.dropdown-about-list-header {
  border-bottom: 2px solid;
  /* border-color: var(--navbar-gradient); */
  /* color: var(--navbar-gradient); */
  margin-left: .65rem;
  margin-right: .65rem;
  padding-bottom: .2rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: .5rem;
  color: var(--secondary-alt-text-color);
}

.dropdown-about-menu-entry {
  font-size: 1.1rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
  padding-left: 0.7rem;
  cursor: pointer;
}

.dropdown-about-menu-entry:hover {
  background: var(--navbar-gradient);
}

/* Projects Dropdown Handling */

.dropdown-projects-display {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  /* max-width: 50rem; */
  /* width: 70%; */
  min-width: 50rem;
  justify-content: flex-end;

}

/* wrapper (update) */
.dropdown-projects-display-entry {
  position: relative;
  border-radius: 1rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background: var(--navbar-gradient); */
  overflow: hidden;
}

.dropdown-projects-display-entry-img {
    z-index: -1;
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    transition: transform .5s;
    position: relative;
    overflow: hidden;
    transform: none;
}

.dropdown-projects-display-entry:hover .dropdown-projects-display-entry-img {
  transform: scale(1.05);
}

.dropdown-projects-display-entry-blur {
  z-index: -1;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: var(--navbar-gradient);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  inset: 0%;
  /* -webkit-mask-image: linear-gradient(#0000 40%, #000 80%); */
  mask-image: linear-gradient(#0000 50%, #000 90%);
}

.dropdown-projects-display-entry-bottom-text {
  color: var(--color-whiterock);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: .825rem;
  font-weight: 500;
  line-height: 1.3;
}

.dropdown-projects-display-entry-blur {
  z-index: -1;
  backdrop-filter: blur(1rem);
  background-color: #0006;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  inset: 0%;
  /* -webkit-mask-image: linear-gradient(#0000 40%, #000 80%); */
  mask-image: linear gradient(#000 40%, #000 80%);


}

/* Mini-Navbar (below 1020px) Handling */

.mini-navbar-menu {
  background: var(--navbar-dropdown-gradient);
  float: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: left;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 5.9rem;
  justify-content: center;
  align-items: stretch;
  max-width: 83rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  transform: translateY(-8px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mini-navbar-entry {
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  padding: .75rem .5rem .75rem .75rem;
  display: flex;
  /* float: left; */
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.mini-navbar-entry:hover {
  background: var(--navbar-gradient);
  cursor: pointer;
}

.mini-navbar-entry:hover .navbar-chevron {
  transform: rotate(180deg);
}

/* Dropdown show / hide hover handling */
/* Show dropdown & bridge when entry, bridge, or dropdown is hovered */
.mini-navbar-entry:hover .mini-navbar-dropdown-content,
.mini-navbar-entry:hover .mini-navbar-dropdown-container,
.mini-navbar-dropdown-container:hover,
.mini-navbar-dropdown-content:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Dropdown-specific extra transform for open animation */
.mini-navbar-entry:hover .mini-navbar-dropdown-content,
.mini-navbar-dropdown-content:hover {
  transform: translateY(0);
}

.mini-navbar-dropdown-container {
  background-color: transparent;
  float: none;
  position: absolute;
  right: 1.5rem;
  left: 1.5rem;
  /* top: 3.75rem; */
  height: 0.4rem; 
  max-width: 83rem;
  opacity: 0;
  visibility: hidden;
  padding: 0 1.5rem 0 1.5rem;
}


.mini-navbar-dropdown-content {
  background: var(--navbar-dropdown-gradient);
  float: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: left;
  position: absolute;
  right: 0rem;
  left: 0rem;
  /* top: 100%; */
  top: 0.4rem;
  height: 15rem;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 83rem;
  padding: 1.5rem;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(-8px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

/* Same as dropdown-projects-content (made this way to be universla to mini dropdowns */
.mini-dropdown-menu-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* Dark/Light Mode Slider */

.navbar-dl-switch {
  grid-column-gap: .25rem;
  border-radius: 1rem;
  align-items: center;
  /* padding: .75rem .5rem .75rem .1rem; */
  padding: 0 .5rem 0 .1rem;
  /* padding: .75rem; */
}

.dl-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Slider background / box */
.dl-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4.5rem;
  height: 2.3rem;
  background: var(--color-dark-gradient);
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

/* circle at rest */
.dl-switch-label .dl-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2rem;
  height: 2rem;
  border-radius: 45px;
  transition: 0.2s;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.dl-switch-checkbox:checked + .dl-switch-label .dl-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* circle size when shifting/moving */
.dl-switch-label:active .dl-switch-button {
  width: 3rem;
}

/* Webpage Content */

.gradient-bg {
  background: var(--gradient-bg);
}

/* Hero Section */
.hero-picture {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

@media (max-width: 1020px) {
  .hero-picture {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
}

@media (max-width: 600px) {
  .hero-picture {
    height: 46vw;
    justify-content: center;
  }
}

.hero-primary-text {
  align-self: center;
  text-align: center;
  color: var(--primary-text-color);
}

.hero-secondary-text {
  align-self: center;
  text-align: center;
  color: var(--secondary-text-color);
}

.hero-tertiary-text {
  align-self: center;
  text-align: center;
  color: var(--tertiary-text-color);
}

.hero-primary-button {
  background: var(--primary-button-color);
  height: 3.8rem;
  width: 10rem;
  color: var(--primary-button-text-color);
  font-size: 1.1rem;
  /* font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.1rem); */
  cursor: pointer;
}

.hero-secondary-button {
  background: var(--secondary-button-color);
  height: 3.8rem;
  width: 10rem;
  font-size: 1.1rem;
  color: var(--secondary-button-text-color);
  cursor: pointer;
}

/* About Section */

/* More gradient general, may move location to top */
.gradient-title {
  color: var(--primary-alt-text-color);
  font-size: 4rem;
}

.gradient-link-offset {
  scroll-margin-top: 5.5rem; /*Offset anchor link start (leave gap at top ) */
}

/* May become about carousel */
/* .about-image {

} */

/* Handle Text color / side */
.about-description {
  /* font-size: 1.5rem; */
  /* line-height: 2.7rem; */
  line-height: clamp(2rem, 1vw + 2rem, 2.7rem);

  text-align: center;
}

/* Project Home Section */

.projects-title {
  color: var(--primary-text-color);
  font-size: 4rem;
}

/* Project Grid Container */
.projects-display {
  display: grid;
  transition: all 0.5s ease;
  /* gap: 2rem; */
}

.projects-entry-title {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-alt-text-color);
  /* font-size: 2.0625rem;
  line-height: 2.375rem; */
  
  font-size: clamp(1.7rem, 2vw + 1rem, 2.0625rem);
  line-height: 1.2;
}

/* Project Entry Container */
.projects-entry {
  display: flex;
  flex-direction: column;
}

.projects-entry-image {
  display: flex;
  margin: 1.6rem;
  margin-bottom: 0rem; /* overrides the top margin */
  /* height: 12rem; */
  /* background-color: var(--color-gold); */
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 2px 8px 5px 5px rgba(0, 0, 0, 0.24); */
}

.projects-entry-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: none;
  font-size: 1.2rem;
  margin: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0.76rem;
  color: var(--primary-alt-text-color);
  
  box-shadow: inset 2px 8px 5px 5px rgba(0, 0, 0, 0.24);
}

.projects-primary-button {
  background: var(--primary-button-color);
  height: 3.7rem;
  width: 10rem;
  color: var(--primary-button-text-color);
  font-size: 1.1rem;
  /* font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.1rem); */
  cursor: pointer;
}

.projects-secondary-button {
  background: var(--secondary-button-color);
  height: 3.7rem;
  width: 10rem;
  font-size: 1.1rem;
  color: var(--secondary-button-text-color);
  cursor: pointer;
}

/* .projects-entry-buttons {

} */

/* .projects-display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
  width: 100%;
  justify-items: center;
  align-items: center;
} */

/* Outer Grid to contain lists (columns) */
/* .dropdown-list-container {
  display: grid;x
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex: 1;
  gap: 2rem;
  grid-auto-columns: 1fr;
}

.dropdown-list {
  display: grid;
  gap: 1rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
} */

/* Experience Section */

/*Experience Entries  */
.experience-entry {
  display: flex;
  /* justify-content: end; */
  align-items: center;
  /* gap: 3.5rem; */
  width: 100%;
}

.experience-entry-title {
  /* position: absolute; */
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(2rem, 2.5vw + 0.5rem, 2.5rem);
  letter-spacing: 0.02em;
  transition: color 0.25s ease, transform 0.25s ease;
  color: var(--tertiary-alt-text-color);

  white-space: normal;
  word-wrap: break-word;

}

.experience-entry-title:hover {
  color: var(--border-color);
}

/* Base card layout */
.experience-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 50vw;
  max-height: clamp(24rem, 70vh, 36rem);
  padding: 1.5rem 2rem;
  background: var(--gradient-bg);
  border-width: 5px;
  border-color: var(--border-color);
  border-radius: 1rem;
  overflow: hidden;
}

/* Let it expand horizontally on medium screens */
@media (max-width: 768px) {
  .experience-card {
    max-width: 90vw;
    max-height: clamp(22rem, 60vh, 30rem);
  }
}

/* Full small-screen behavior */
@media (max-width: 700px) {
  /* Stack entries vertically and center them */
  .experience-entry {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Hide images */
  .experience-entry-image {
    display: none;
  }

  /* Let the card fill and center */
  .experience-card {
    max-width: 90vw;
    margin: 0 auto;
    max-height: none;
    padding: 1rem 1.25rem;
  }
}

.experience-card-description {
  padding: 1rem;
  /* padding-top: 4.5rem; */
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  line-height: clamp(1.6rem, 2vw, 2.4rem);
}


.experience-entry-image {
  flex-shrink: 0;
  width: clamp(12rem, 18vw, 17.5rem);
  height: clamp(10rem, 16vw, 16rem);
  border-radius: 1rem;
  background-color: var(--accent-color, gold);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.experience-entry-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

@media (max-width: 700px) {
  .experience-entry-image {
    display: none;
  }
}

/* Slide in / out animation Handling */
.slide-animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.slide-animate-right.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-animate-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* Contact Me Section */

.contact-me-content-container {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  gap: clamp(2.5rem, 1.5vw, 4rem);
  padding-right: 3rem;
  padding-left: 3rem;
  transition: all 0.5s ease;
  
}

@media (max-width: 1023px) {
  .contact-me-content-container {
    flex-direction: column;
    gap: 1rem;
  }
}

.contact-me-text {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 1.4rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-height: 5.5rem;
}

.contact-me-form-title {
  color: var(--primary-alt-text-color);
  /* font-size: 2.5rem; */
  display: flex;
  justify-content: center;
  /* padding-top: 2.7vh; */
  font-weight: bold;
}

.contact-me-form-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

@media (max-width: 1023px) {
  .contact-me-form-flex-wrapper {
    gap: clamp(2rem, 2vw, 3rem);
    padding-right: clamp(1.75rem, 2vw, 3rem);
    padding-left: clamp(1.75rem, 0.5vw, 3rem);
  }
}

.contact-input-label {
  color: var(--secondary-alt-text-color);
  padding-left: 1rem;
  display: block;
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 1023px) {
  .contact-input-label {
    font-size: clamp(1.4rem, 2vw, 1.7rem);
    padding-left: clamp(.5rem, 2vw, 1rem);
    padding-bottom: clamp(0.1rem, 0.58vw, 0.5rem);
  }
}

.contact-me-input {
  background: var(--input-bg);
  color: var(--secondary-button-text-color);
  display: flex;
  width: 100%;
}

.contact-me-input-container {
  gap: 3.3rem;
  display: flex;
  width: 100%;
}

@media (max-width: 1023px) {
  .contact-me-input-container {
    gap: clamp(0.75rem, 3vw, 3.3rem);
  }
}

.contact-me-textarea {
  background: var(--input-bg);
  color: var(--secondary-button-text-color);
  display: flex;
  width: 100%
}

.contact-me-submit-button {
  background: var(--secondary-button-color);
  height: 3.7rem;
  width: 100%;
  font-size: 1.1rem;
  color: var(--secondary-button-text-color);
  cursor: pointer;
}

.contact-me-submit-button:hover {
  background: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.contact-me-submit-button:active {
  background: var(--secondary-button-color);
  color: var(--primary-button-text-color);
}

/* Infinite Scroll Animation Handling */

/* Define the keyframes normally */
 @keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-27%);
  }
} 

@keyframes infinite-scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%);
  }
}

/* vertical scroll handling (above lg breakpoint) */

.scroll-container {
  mask-image: linear-gradient(to bottom, transparent 0, black 64px, black calc(100% - 64px), transparent 100%);
  justify-content: center;
  align-items: center;
  width: 45rem;
  display: flex;
  overflow: hidden;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  animation: infinite-scroll-vertical 10s linear infinite;
  gap: 2rem;
  width: 85%;
}

.scroll-item {
  /* margin: 1rem 0; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scroll-entry {
  padding-left: 0.1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  color: var(--tertiary-alt-text-color);
  /* font-weight: bold; */
  background-color: var(--gradient-bg);
  border-radius: 1rem;
  background: var(--gradient-bg);
  border-width: 5px;
  border-color: var(--border-color);
  border-radius: 1rem;
}

/*   */

.scroll-entry-label {
  font-size: 1.5rem;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scroll-entry-label:hover {
  color: var(--border-color);
}

.scroll-entry-icon {
  height: 3.5rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  /* color: var(--secondary-logo-fill-color); */
}


/* (below lg) / horizontal Scroll*/
@media (max-width: 1023px) {

  .scroll-container {
    mask-image: linear-gradient(to right, transparent 0, black 64px, black calc(100% - 150px), transparent 100%);
    width: 80rem;
    display: flex;
    overflow: hidden;
    gap: 1rem;
  }                    

  .scroll-content {
    display: flex;
    flex-direction: row;
    animation: infinite-scroll 5s linear infinite;
    gap: 1rem;
    width: max-content;
    will-change: transform;
    
  }

  .scroll-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* width: 33.33%; */
  }

  .scroll-entry {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 7rem;
    height: 5rem;
    border-width: 4px;
    padding: 1rem;
    background-color: var(--gradient-bg);
    border-width: 4px;
    border-color: var(--border-color);
    border-radius: 1rem; 
  }

  .scroll-entry-label {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    display: none;
  }

  .scroll-entry-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}
