@import "tailwindcss";

/* Add Font Example */
/* @font-face {
  font-family: 'Tungsten';
  src: url('../fonts/Tungsten-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} 
*/
/* Import Custom Colors */
@theme {
  --color-ivory: #F3F0E8;
  --color-cream: #F5ECD8;
  --color-gold: #D4AA7D;
  --color-caramel: #B98857;
  --color-cinnamon: #9E7153;
  --color-rose: #A76571;
  --color-gray: #5E5E5E;
  --color-dark: #2E2927;
  --color-slate:  #2B2E35;
  --color-carbon: #272727;
  
}

section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* F5ECD8
   EDE2D0
 */
/*

Scroll snap implementatoin ( by section)

html {
    scroll-snap-type: y mandatory;
}
section {
     scroll-snap-align: start;
 } 
*/
